:root{
    --font-principal: "Lexend Exa", sans-serif;

    --font-size-mobile-titulo: 2.25rem;
    --font-size-mobile-texto: .75rem;

    --font-size-mobile-grande-titulo: 2.25rem;
    --font-size-mobile-grande-texto: 1rem;

    --font-size-desktop-titulo: 2.5rem;
    --font-size-desktop-texto: 1.5rem;
}