.main{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--roxo-claro);
}

.main-container-mensagens{
    width: 320px;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 18px;
}

.main-container-pesquisa, .header-nav-titulo{
    display: none;
}