body{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 32vh 70vh;
    grid-template-areas:
    "header"
    "main"
    ;
    font-family: var(--font-principal);
    background: var(--roxo-claro);
}

.header{
    grid-area: header;
}

main{
    grid-area: main;
    background: var(--roxo-claro);
}

@media (min-width: 1200px) and (max-width: 2400px) {
    body{
    grid-template-columns: 20% 80%;
    grid-template-rows: 100vh;
    grid-template-areas:
    "header main"
    "header main"
    ;
}
}