.header-nav-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: solid 2px var(--branco);
    background-color: transparent;
}

.header-nav-img{
    width: 24px;
    height: 24px;
}

.header-nav-descricaoBtn{
    display: none;
}

/*Btn main*/

.main-btn-mensagem{
    border: none;
    background-color: transparent;
}

/*btn main form*/

.main-btn-categoria{
    width: 130px;
    height: 21px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 4px 8px, rgba(0, 0, 0, 0.20) 0px 3px 3px;
    border-radius: 8px;
    background-color: var(--roxo-claro);
    font-size: .62rem;
    font-family: var(--font-principal);
}

/*btn paletas de cores*/

.btn-paleta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 48px;
    border: none;
    background-color: var(--branco);
    font-family: var(--font-principal);
    font-size: var(--font-size-mobile-texto);
    gap: 2px;
    width: 105px;
    height: 35px;
}
