.header-nav-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: solid 2px var(--branco);
    background-color: transparent;
}

.header-nav-img{
    width: 24px;
    height: 24px;
}

.header-nav-descricaoBtn{
    display: none;
}

/*Btn main*/

.main-btn-mensagem{
    border: none;
    background-color: transparent;
}

/*btn main form*/

.main-btn-categoria{
    width: 130px;
    height: 21px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 4px 8px, rgba(0, 0, 0, 0.20) 0px 3px 3px;
    border-radius: 8px;
    background-color: var(--roxo-claro);
    font-size: .62rem;
    font-family: var(--font-principal);
}

/*btn paletas de cores*/

.fecharOverlay{
    border: none;
    background: transparent;
    font-size: 16px;
}

.btn-paleta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 48px;
    border: none;
    background-color: var(--branco);
    font-family: var(--font-principal);
    font-size: var(--font-size-mobile-texto);
    gap: 2px;
    width: 105px;
    height: 35px;
}

@media (min-width: 360px) and (max-width: 440px) {
    .header-nav-btn{
        height: 40px;
        width: 40px;
    }

    .header-nav-img{
        width: 30px;
        height: 30px;
    }
}

/*Desktop*/
@media (min-width: 1000px) and (max-width: 1400px) {
    .header-nav-descricaoBtn{
        display: block;
        color: var(--branco);
        margin-left: 1rem;
    }

    .header-nav-btn{
        display: flex;
        justify-content: start;
        width: 280px;
        height: 65px;
        border-radius: 16px;
        border: solid 3px var(--branco);
        font-size: var(--font-size-mobile-grande-titulo);
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    .header-nav-img{
        width: 32px;
        height: 32px;
    }

    #btn-open-sobre{
        padding-left: 1.4rem;
    }

    .header-nav-titulo{
        font-size: var(--font-size-mobile-grande-titulo);
        color: var(--branco);
        margin: 12px 12px;
    }

    .img-sobre{
        padding-right: .6rem;
    }
}


