.main-container-mensagemCriada{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: var(--font-principal);
    background-color: var(--branco);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 8px 16px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    height: 106px;
    width: 140px;
}

.main-container-autoEhCategoria{
    display: flex;
    align-items: center;
}

.main-container-texto{
    font-size: var(--font-size-mobile-texto);
    padding: .3rem;
}

.main-container-informacoes{
    display: flex;
    font-size: var(--font-size-mobile-texto);
    padding: .3rem;
}


.main-container-botoes{
    display: flex;
    align-items: end;
}

#lixeira, #editar{
    display: none;
}

@media (min-width: 360px) and (max-width: 440px) {
    .main-container-mensagemCriada{
        width: 80%;
    }

    .main-container-informacoes{
        display: flex;
        justify-content: space-between;
    }

    #lixeira, #editar{
        display: block;
    }
}

@media (min-width: 800px) and (max-width: 2400px) {
    .main-container-mensagemCriada{
        width: 300px;
        height: 105px;
    }

    .main-container-informacoes{
        display: flex;
        justify-content: space-between;
    }

    #lixeira, #editar{
        display: block;
    }
}
