.header-titulo{
   font-size: var(--font-size-mobile-titulo);
   font-family: var(--font-principal);
   color: var(--cor-nav);
}

.header-texto, .texto-option{
    font-size:  var(--font-size-mobile-texto);
    font-family: var(--font-principal);
    text-align: center;
    width: 80%;
    color: var(--cor-nav);
}
/*Celulares pequenos*/
@media (min-width: 290px) and (max-width: 329px) {
    .header-texto{
        font-size: .5rem;
    }
}
/*Celulares medio*/
@media (min-width: 330px) and (max-width: 380px) {
    .header-texto{
        font-size:  var(--font-size-mobile-texto);
    }
}
/*Celulares grande*/
@media (min-width: 381px) and (max-width: 440px) {
    .header-titulo{
        font-size: var(--font-size-mobile-titulo);
        padding-bottom: .6rem;
    }

    .header-texto{
        font-size:  var(--font-size-mobile-texto);
    }
}


/*Tablets*/
@media (min-width: 441px) and (max-width: 799px) {
    .header-titulo{
        font-size: var(--font-size-mobile-grande-titulo);
        padding-bottom: .6rem;
        margin-bottom: 1.6rem;
    }
}

/*Desktop*/
@media (min-width: 1000px) and (max-width: 1800px) {
    .header-titulo{
        font-size: var(--font-size-desktop-titulo);
        margin-bottom: 1.5rem;
    }

    .header-texto{
        font-size: var(--font-size-mobile-texto);
    }
}