.main-container-form{
    background-color: var(--branco);
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 8px 16px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 1.2rem;
}

/*class de animação de entrada do form*/
.form-animation-enter {
  opacity: 0;
  transform: translateY(-30px);
  transition: all 0.4s ease;
}

/*class de animação de entrada do form*/
.form-animation-enter-active {
  opacity: 1;
  transform: translateY(0);
}

fieldset{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-container-input-form{
    display: flex;
    flex-direction: column; 
    width: 100%;  
}

.main-titulo-form{
    font-family: var(--font-principal);
    font-size: 1.2rem;
    margin: .8rem 0 ;
}

.main-label-form{
    font-size: .8rem;
    font-family: var(--font-principal);
    margin-bottom: .3rem;
}

.main-input-form{
    height: 30px;
    width: 100%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 4px 8px, rgba(0, 0, 0, 0.20) 0px 3px 3px;
    background-color: var(--roxo-claro);
    border-radius: 8px;
    margin-bottom: 1rem;
}

.main-input-form:focus{
    border: 2px solid var(--roxo-escuro);
    outline: none;
}

#input-mensagem{
    height: 70px;
    width: 100%;
}

.main-div-salvarForm{
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 1rem;
}

@media (min-width: 330px) and (max-width: 380px) {
    .main-container-form{
        width: 80%;
        padding: 1.2rem;
    }

    .main-input-form{
        height: 45px;
    }

    #input-mensagem{
        width: 100%;
    }
}

@media (min-width: 381px) and (max-width: 440px) {
    .main-container-form{
        width: 80%;
        padding: 1.2rem;
    }
}

@media (min-width: 1200px) and (max-width: 2400px) {
    .main-input-form{
        height: 45px;
    }

    #input-mensagem{
        height: 150px;
    }
}
