.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid var(--cor-nav); /* cor do loader */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: girar 1s linear infinite;
  margin: 100px auto;
}

@keyframes girar {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
