.container-paleta-cor{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    width: 220px;
    height: 170px;
    padding: .5rem;
    background-color: var(--cor-fundo);
}

.container-titulo-paleta-cor{
    display: flex;
    justify-content: space-between;
}

.ul-paleta-cor{
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: 8px;
}

.fundoEscuro {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* transparência */
    z-index: 1000;
}

.bolinha-cor{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.btn-roxo{
    background: var(--roxo-escuro);
}

.btn-amarelo{
    background: var(--amarelo-escuro);
}

.btn-vermelho{
    background: var(--vermelho-escuro);
}

.btn-verde{
    background:var(--verde-escuro);
}

.btn-rosa{
    background: var(--rosa-escuro);
}

.btn-azul{
    background: var(--azul-escuro);
}

